In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
data = dict()

files = ['PCECC96', 'WILL5000INDFC','GDPDEF','TB3MS']

for i in files:
    data[i] = pd.read_csv(i+'.csv')
    data[i]['DATE'] = pd.to_datetime(data[i]['DATE'])
    data[i] = data[i].set_index('DATE')

[data[i][i] for i in files]
dataframe = pd.concat([data[i][i] for i in files], axis=1, join='inner')
dataframe = dataframe.reset_index()
dataframe['qt'] = dataframe['DATE'].dt.quarter
dataframe['year'] = dataframe['DATE'].dt.year

In [23]:
dataframe.columns = ['date', 'rConsumption', 'USGrowth', 'GDPDef', 'RFR', 'qt','year']

In [33]:
for i in ['rConsumption', 'USGrowth', 'GDPDef', 'RFR' ]:
    dataframe[i] = pd.to_numeric(dataframe[i])
dataframe['GDPDef_p'] = dataframe.GDPDef.pct_change()

In [38]:
for i in ['USGrowth', 'RFR']:
    dataframe['r'+i] = dataframe[i]/(1+dataframe['GDPDef_p'])

In [40]:
dataframe.head()

,date,rConsumption,USGrowth,GDPDef,RFR,qt,year,GDPDef_p,rUSGrowth,rRFR
0,1971-01-01,3156.978,1.080000,22.391,3.840000,1,1971,NaN,NaN,NaN
1,1971-04-01,3185.993,1.136667,22.685,4.250000,2,1971,0.013130,1.121935,4.194920
2,1971-07-01,3211.394,1.113333,22.916,5.010000,3,1971,0.010183,1.102111,4.959498
3,1971-10-01,3264.679,1.113333,23.107,4.230000,4,1971,0.008335,1.104131,4.195035
4,1972-01-01,3307.767,1.240000,23.458,3.436667,1,1972,0.015190,1.221446,3.385244

In [42]:
dataframe.to_csv('dataset.csv')