In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from os import listdir
from os.path import isfile, join

These exercises are intended to help you use the Kyle model to understand the orderbooks of 5 tickers on a particular day (July 11, 2017). The data have been compiled from the NASDAQ ITCH data files for those days. The data are Python pickle files where each file contains a list of the following form [(timestamp1,{P1: Q1, P2: Q2, P3:Q3, ...}), (timestamp2, {P1: Q1, P2, Q2, ...})... ]. That is, the data comes as a list of tuples, where each tuple contains a timestamp and an orderbook. The orderbook is a dictionary where the keys are prices and the values are the quantities available at each price. These data have been compiled in such a way that we have the orderbook every 60 seconds throughtout the trading day.

1. Write a Python class that represents a single orderbook, where the data for that single orderbook is an instance property. Write a method for that orderbook that will use the data to the parameters ùõæ and ùõΩ from equation (10). Plot the orderbook and the estimated equation. Where does the model fit well and where does it not? Might one want to estimate the model using only a subset of the orderbook? If so, where?

In [8]:
mypath='data/'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [17]:
dataset = dict()
for i in onlyfiles:
    with open(mypath+i, "rb") as f:
        rawdata = f.read()
    dataset[i] = pickle.loads(rawdata)

In [19]:
dataset.keys()

dict_keys(['SPY', 'AAPL', 'GBX', 'THO', 'C'])

In [ ]:
dataset['SPY'][0][1]

In [33]:
class OrderBook:
    def __init__(self, filepath):
        with open(filepath, "rb") as f:
            rawdata = f.read()
        self.data = pickle.loads(rawdata)

In [38]:
for i in ['USGrowth', 'RFR']:
    dataframe['r'+i] = dataframe[i]/(1+dataframe['GDPDef_p'])

In [40]:
dataframe.head()

,date,rConsumption,USGrowth,GDPDef,RFR,qt,year,GDPDef_p,rUSGrowth,rRFR
0,1971-01-01,3156.978,1.080000,22.391,3.840000,1,1971,NaN,NaN,NaN
1,1971-04-01,3185.993,1.136667,22.685,4.250000,2,1971,0.013130,1.121935,4.194920
2,1971-07-01,3211.394,1.113333,22.916,5.010000,3,1971,0.010183,1.102111,4.959498
3,1971-10-01,3264.679,1.113333,23.107,4.230000,4,1971,0.008335,1.104131,4.195035
4,1972-01-01,3307.767,1.240000,23.458,3.436667,1,1972,0.015190,1.221446,3.385244

In [42]:
dataframe.to_csv('dataset.csv')