In [1]:
import numpy as np
import pandas as pd

## Problem 1

In [100]:
pd.Series({(2*i):((2*i)**2-1 if (((2*i)**2 -1) % 3 == 0 ) else 0) for i in range(26)})

0        0
2        3
4       15
6        0
8       63
10      99
12       0
14     195
16     255
18       0
20     399
22     483
24       0
26     675
28     783
30       0
32    1023
34    1155
36       0
38    1443
40    1599
42       0
44    1935
46    2115
48       0
50    2499
dtype: int64

## Problem 2

In [71]:
def problem2(p, d):
    dates = pd.date_range("1/1/2000", "12/31/2000")
    draws = np.random.binomial(1, p, dates.shape[0])
    output = {dates[0]:d}
    for i in range(1,dates.shape[0]):
        output[dates[i]]=output[dates[i-1]]+(draws[i]*2 -1)
        
    return pd.Series(output)

In [72]:
problem2(0.7, 100)

2000-01-01    100
2000-01-02    101
2000-01-03    100
2000-01-04    101
2000-01-05    102
2000-01-06    101
2000-01-07    100
2000-01-08    101
2000-01-09    100
2000-01-10    101
2000-01-11    102
2000-01-12    103
2000-01-13    104
2000-01-14    105
2000-01-15    104
2000-01-16    103
2000-01-17    104
2000-01-18    105
2000-01-19    104
2000-01-20    103
2000-01-21    104
2000-01-22    105
2000-01-23    106
2000-01-24    107
2000-01-25    108
2000-01-26    109
2000-01-27    110
2000-01-28    109
2000-01-29    110
2000-01-30    111
             ...
2000-12-02    226
2000-12-03    227
2000-12-04    228
2000-12-05    227
2000-12-06    228
2000-12-07    229
2000-12-08    228
2000-12-09    229
2000-12-10    230
2000-12-11    231
2000-12-12    232
2000-12-13    233
2000-12-14    232
2000-12-15    233
2000-12-16    232
2000-12-17    231
2000-12-18    232
2000-12-19    233
2000-12-20    234
2000-12-21    235
2000-12-22    236
2000-12-23    235
2000-12-24    234
2000-12-25    235
2000-12-26    236
2000-12-27    237
2000-12-28    236
2000-12-29    237
2000-12-30    236
2000-12-31    237
Length: 366, dtype: int64

## Problem 3

In [73]:
 
#build toy data for SQL operations
name = ['Mylan', 'Regan', 'Justin', 'Jess', 'Jason', 'Remi', 'Matt', 'Alexander', 'JeanMarie']
sex = ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F']
age = [20, 21, 18, 22, 19, 20, 20, 19, 20]
rank = ['Sp', 'Se', 'Fr', 'Se', 'Sp', 'J', 'J', 'J', 'Se']
ID = range(9)
aid = ['y', 'n', 'n', 'y', 'n', 'n', 'n', 'y', 'n']
GPA = [3.8, 3.5, 3.0, 3.9, 2.8, 2.9, 3.8, 3.4, 3.7]
mathID = [0, 1, 5, 6, 3]
mathGd = [4.0, 3.0, 3.5, 3.0, 4.0]
major = ['y', 'n', 'y', 'n', 'n']
studentInfo = pd.DataFrame({'ID': ID, 'Name': name, 'Sex': sex, 'Age': age,'Class': rank})
otherInfo = pd.DataFrame({'ID': ID, 'GPA': GPA, 'Financial_Aid': aid})
mathInfo = pd.DataFrame({'ID': mathID, 'Grade': mathGd, 'Math_Major': major})

In [75]:
studentInfo[(studentInfo.Age >19) & (studentInfo.Sex == 'M')]

   ID   Name Sex  Age Class
0   0  Mylan   M   20    Sp
6   6   Matt   M   20     J

## Problem 4

In [79]:
pd.merge(studentInfo, mathInfo,  on ='ID', how='outer')[['ID', 'Age', 'Grade']]

   ID  Age  Grade
0   0   20    4.0
1   1   21    3.0
2   2   18    NaN
3   3   22    4.0
4   4   19    NaN
5   5   20    3.5
6   6   20    3.0
7   7   19    NaN
8   8   20    NaN